<main>


  <mat-paginator [length]="length"
                 [pageSize]="defaultPageSize"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 (page)="setPage($event.pageIndex, $event.pageSize)"
                 #paginator
                 tabindex="-1">
  </mat-paginator>

  <ul>
    <li *ngFor="let pokemon of pokemonArray">
      <img [src]="getSpriteForURI(pokemon.url)" alt="" width="96" height="96">
      <a [routerLink]="['pokemon', extractIdFromURI(pokemon.url)]">
        {{ pokemon.name }}
      </a>
    </li>
  </ul>


  <button mat-raised-button color="primary" class="scroll-top-top"
          (click)="scrollToTop()" *ngIf="pokemonArray.length > 20">
    Scroll to top
  </button>
</main>
