// Layout

main {
  display: grid;

  grid-template-columns: auto minmax(min-content, 40rem) auto;

  & > * {
    grid-column: 2 / 3;
  }
}

// List styling

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  // To allow <a> to stretch
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 4rem;
  padding: 0 0.5rem;

  border-top: 1px solid lightgray;

  &:hover {
    background-color: #f8f8f8;
  }

  &:focus-within {
    background-color: #efefef;

    a {
      outline: none;
    }
  }

  img {
    height: 100%;
    width: auto;

    margin-right: 1rem;
  }

  a {
    text-transform: capitalize;

    font-size: 1.1em;
    color: inherit;
    text-decoration-color: #ccd9e5;
    text-decoration-thickness: 2px;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    transition: text-decoration-color .1s;

    &:hover, &:focus {
      text-decoration-color: yellow;
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;
    }
  }
}

.scroll-top-top {
  margin: 1em 0;
}
