<main *ngIf="errorType === '404'">
  <h1>404 - Pokémon not found</h1>

  <a routerLink="/" mat-raised-button color="primary" class="see-all">See all Pokémon</a>
</main>

<main *ngIf="pokemon">

  <div class="overview">

    <!-- Pokemon image -->
    <ng-container *ngIf="pokemon.sprites.other?.['official-artwork']?.front_default; else noArtwork">
      <img [src]="pokemon.sprites.other?.['official-artwork']?.front_default" alt="" width="170" height="170">
    </ng-container>
    <ng-template #noArtwork>
      <img [src]="pokemon.sprites.front_default" alt="">
    </ng-template>

    <!-- H1 -->
    <h1>{{ pokemon.name }}</h1>

    <!-- Subtitle -->
    <div>
      #{{ pokemon.id | number:"3.0-0" }} -

      <!-- Comma seperated list of types -->
      <ng-container *ngFor="let type of pokemon.types; let last = last">
        {{ type.type.name }}{{ last ? '' : ', ' }}
      </ng-container>
    </div>

  </div>


  <div class="details">

    <!-- Evolutions -->
    <mat-card class="possible-evolutions" *ngIf="evolutions.length">
      <mat-card-title>
        <h2>Evolutions</h2>
      </mat-card-title>

      <mat-card-content>
        <a *ngFor="let evolution of evolutions" [routerLink]="['../', evolution.id]">
          <img [src]="evolution.image" alt="" width="96" height="96">
          {{ evolution.name }}
        </a>
      </mat-card-content>
    </mat-card>

    <!-- Abilities -->
    <h2>Abilities</h2>

    <ul>
      <li *ngFor="let ability of pokemon.abilities">
        {{ ability.ability.name }} <span class="toned-down" *ngIf="ability.is_hidden">(hidden)</span>
      </li>
    </ul>

    <!-- Statistics -->
    <h2>Statistics</h2>

    <dl>
      <ng-container *ngFor="let stat of pokemon.stats">
        <dt>{{ stat.stat.name }}</dt>
        <dd>{{ stat.base_stat }}</dd>
      </ng-container>
    </dl>

    <h2>Moves</h2>

    <ul class="moves-list">
      <li *ngFor="let move of pokemon.moves">
        {{ move.move.name }}
      </li>
    </ul>
  </div>


</main>
