// Layout

main {
  margin: 0 1em 1em 1em;
  display: grid;

  grid-template-columns: auto minmax(min-content, 50rem) auto;

  & > * {
    grid-column: 2 / 3;
  }
}

.see-all {
  margin-top: 1em;
}

.overview {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1.2rem;

  @media (max-width: 450px) {
    display: block;
  }

  text-transform: capitalize;

  > img {
    width: 10rem;
    height: auto;

    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  > h1 {
    align-self: flex-end;
    margin: 0;

    font-size: 3rem;
    font-weight: 600;
  }
}

.details {
  text-transform: capitalize;

  > h2 {
    margin-bottom: .5em;
  }

  > ul {
    margin: .5em 0;
  }

  > dl {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5em;

    max-width: 16em;
    padding: 0;

    > dt {
      grid-column: 1;
      opacity: .85;
      font-size: .95em;
      font-weight: 500;
    }

    > dd {
      grid-column: 2;
      margin: 0;
    }
  }

  .moves-list {
    columns: 8em;

    list-style: none;
    padding: 0;
  }
}

.possible-evolutions {
  float: right;
  width: 15em;
  margin-top: 2rem;

  text-transform: capitalize;

  @media (max-width: 650px) {
    float: none;
    margin-top: 1rem;
    width: auto;
  }

  h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: inherit;

    img {
      height: 2.5em;
      width: auto;
    }

    &:focus-visible {
      outline: 2px dashed black;
    }
  }
}

.toned-down {
  opacity: 0.85;
  font-weight: 370;
}
