@use '~@angular/material' as mat;
@import '~@angular/material/theming';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "General Sans", "Helvetica Neue", sans-serif;
}


$custom-typography: mat.define-typography-config(
  $font-family: 'General Sans'
);
@include mat.core($custom-typography);
